html, body {
  height: 100%;
  width: 100%;
} 

.main{
	background-color: blueviolet;
	color: white;
	margin-bottom: 30px;
}

.footer{
	background-color: steelblue;
	color: wheat;
	margin-top: 40px;
}