html, body {
  height: 100%;
  width: 100%;
} 
.caja{
	background-color: skyblue;
	color: white;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	width: 200px;
	height: 200px;
	padding:15px;	
	border-color: white yellow red purple;
	
	border-width: 18px;
	border-style: dotted dashed solid double;
}
.caja1{
	margin: 0 auto;
}